access                 
chdir                  
chmod
chown
chown32
close                  
creat
dup                    
dup2                   
dup3
epoll_create
epoll_create1
epoll_ctl
epoll_ctl_old
epoll_pwait
epoll_wait
epoll_wait_old
eventfd
eventfd2
faccessat              
fadvise64
fadvise64_64
fallocate
fanotify_init
fanotify_mark
ioctl                  
fchdir
fchmod
fchmodat
fchown
fchown32
fchownat
fcntl                  
fcntl64
fdatasync
fgetxattr
flistxattr
flock
fremovexattr
fsetxattr
fstat                  
fstat64
fstatat64
fstatfs
fstatfs64
fsync
ftruncate
ftruncate64
getcwd                 
getdents               
getdents64
getxattr
inotify_add_watch
inotify_init
inotify_init1
inotify_rm_watch
io_cancel
io_destroy
io_getevents
io_setup
io_submit
lchown
lchown32
lgetxattr
link
linkat
listxattr
llistxattr
llseek
_llseek
lremovexattr
lseek                  
lsetxattr
lstat
lstat64
mkdir
mkdirat
mknod
mknodat
newfstatat
_newselect
oldfstat
oldlstat
oldolduname
oldstat
olduname
oldwait4
open                   
openat                 
pipe                   
pipe2
poll
ppoll
pread64
preadv
futimesat
pselect6
pwrite64
pwritev
read                   
readahead
readdir
readlink
readlinkat
readv
removexattr
rename
renameat
rmdir
select
sendfile
sendfile64
setxattr
splice
stat                   
stat64
statfs                 
statfs64
symlink
symlinkat
sync
sync_file_range
sync_file_range2
syncfs
tee
truncate
truncate64
umask
unlink
unlinkat
ustat
utime
utimensat
utimes
write                  
writev

// Network related
accept
accept4
bind                   
connect                
getpeername
getsockname            
getsockopt
listen
recv
recvfrom               
recvmmsg
recvmsg
send
sendmmsg
sendmsg
sendto                 
setsockopt
shutdown
socket                 
socketcall
socketpair
sethostname            

// Signal related
pause
rt_sigaction           
rt_sigpending
rt_sigprocmask         
rt_sigqueueinfo
rt_sigreturn           
rt_sigsuspend
rt_sigtimedwait
rt_tgsigqueueinfo
sigaction
sigaltstack            
signal
signalfd
signalfd4
sigpending
sigprocmask
sigreturn
sigsuspend

// Other needed POSIX
alarm
brk                    
clock_adjtime
clock_getres
clock_gettime
clock_nanosleep
clock_settime
gettimeofday
nanosleep
nice
sysinfo
syslog
time
timer_create
timer_delete
timerfd_create
timerfd_gettime
timerfd_settime
timer_getoverrun
timer_gettime
timer_settime
times
uname  

// Memory control                
madvise
mbind
mincore
mlock
mlockall
mmap                   
mmap2
mprotect               
mremap
msync
munlock
munlockall
munmap                 
remap_file_pages
set_mempolicy
vmsplice

// Process control
capget
capset                 
clone                  
execve                 
exit                   
exit_group             
fork
getcpu
getpgid
getpgrp                
getpid                 
getppid                
getpriority
getresgid
getresgid32
getresuid
getresuid32
getrlimit              
getrusage
getsid
getuid                 
getuid32
getegid                
getegid32
geteuid                
geteuid32
getgid                 
getgid32
getgroups
getgroups32
getitimer
get_mempolicy
kill
prctl
prlimit64
sched_getaffinity
sched_getparam
sched_get_priority_max
sched_get_priority_min
sched_getscheduler
sched_rr_get_interval
sched_setaffinity
sched_setparam
sched_setscheduler
sched_yield
setfsgid
setfsgid32
setfsuid
setfsuid32
setgid
setgid32
setgroups
setgroups32
setitimer
setpgid                
setpriority
setregid
setregid32
setresgid
setresgid32
setresuid
setresuid32
setreuid
setreuid32
setrlimit
setsid
setuid
setuid32
ugetrlimit
vfork
wait4                  
waitid
waitpid

// IPC
ipc
mq_getsetattr
mq_notify
mq_open
mq_timedreceive
mq_timedsend
mq_unlink
msgctl
msgget
msgrcv
msgsnd
semctl
semget
semop
semtimedop
shmat
shmctl
shmdt
shmget

// Linux specific, mostly needed for thread-related stuff
arch_prctl             
get_robust_list
get_thread_area
gettid
futex                  
restart_syscall        
set_robust_list        
set_thread_area
set_tid_address        
tgkill
tkill

// Admin syscalls, these are blocked
acct
adjtimex
bdflush
chroot
create_module
delete_module
get_kernel_syms       
idle                
init_module
ioperm
iopl
ioprio_get
ioprio_set
kexec_load
lookup_dcookie      
migrate_pages        
modify_ldt
mount
move_pages            
name_to_handle_at     
nfsservctl           
open_by_handle_at     
perf_event_open
pivot_root
process_vm_readv     
process_vm_writev     
ptrace                
query_module
quotactl
reboot
setdomainname
setns
settimeofday
sgetmask              
ssetmask              
stime
swapoff
swapon
_sysctl
sysfs
sys_setaltroot
umount
umount2
unshare
uselib
vhangup
vm86
vm86old

// Kernel key management
add_key
keyctl
request_key

// Unimplemented
afs_syscall
break
ftime
getpmsg
gtty
lock
madvise1
mpx
prof
profil
putpmsg
security
stty
tuxcall
ulimit
vserver
